<div class="cart" id="productCart">
   <div class="titulo">
      <h3>Carrito</h3>
   </div>
   <h1 class="closeCart">x</h1>
   <div class="cartproducts">
      {{#each cartsproduct}}
      <div class="product">
         <div class="cartimg">

            <img src="{{img}}" alt="{{name}}">
         </div>
         <div class="informacion">
            <h4>{{name}}</h4>
            <h5>{{precio}}</h5>
            <h5>{{cantidad}}</h5>
         </div>
         <div>
            <form action="/{{_id}}?_method=DELETE" method="post" enctype="multipart/form-data" class="formDelete">
               <input type="submit" value="Eliminar">
            </form>
         </div>
      </div>
      {{/each}}
   </div>
</div>